:root {
    --primary: #34314c;
    --secondary: #9592ad;
    --border: #d9dee9;
    --highlight-1: #fd7473;
    --highlight-2: #fec951;
    --highlight-3: #47b8e0;
    --highlight-4: #9f68d0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.headerHighlight {
    height: 6px;
    border: 0;
    background-color: var(--highlight-1);
    background-image: linear-gradient(to right, var(--highlight-1), var(--highlight-1) 25%, var(--highlight-2) 25%, var(--highlight-2) 50%, var(--highlight-3) 50%, var(--highlight-3) 75%, var(--highlight-4) 75%, var(--highlight-4) 100%, var(--highlight-4) 100%);
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    background-size: 50% 100%;
}

.nav-link:hover {
    font-weight: 700;
}

.btn:hover {
    border: 1px solid var(--primary);
    text-decoration-color: var(--secondary);
    -moz-box-shadow: 3px 3px 3px 3px var(--border);
    -webkit-box-shadow: 3px 3px 3px 3px var(--border);
    box-shadow: 3px 3px 3px 3px var(--border);
}

.btn-head {
    border: 1px solid var(--border);
    border-radius: 40px;
}

.nav-item {
    margin: 0px 7px;
}

.company-logo {
    width: 70px;
    height: 70px;
}

.job-card {
    border: none;
    -webkit-box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
    -moz-box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
    box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
}

.jobcard-body {
    align-items: center;
}

p {
    text-align: end;
}

.full-time {
    color: var(--highlight-1);
}

.part-time {
    color: var(--highlight-2);
}

.contract {
    color: var(--highlight-4);
}

.freelance {
    color: var(--highlight-3);
}

.break {
    color: var(--secondary);
    width: 100px;
    margin: auto;
    border: 1px solid var(--border);
    border-radius: 3em;
    font-weight: 700;
    font-size: 0.8em;
}

.load {
    color: var(--highlight-4);
    width: 120px;
    align-content: flex-end;
    border: 1px solid var(--border);
    border-radius: 3em;
    font-weight: 700;
}

.load:hover {
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
    -moz-box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
    box-shadow: 3px 6px 20px 5px rgba(133, 131, 133, 0.28);
}

.footer{
    background-color: var(--border);
    display: flex;
}

.preet{
    background-color: var(--border);
    border: none;
}

.terms{
    /* flex: 2; */
    background-color: var(--border);
    text-align: right;
    border: none;
}

@media only screen and (max-width:990px) {
    .col {
        margin-top: 20px;
    }
}